@use '@/styles/variables' as *;
.form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
    background-color: $clr-white;
    height: 100%;
    border-radius: $rounded-xl;
    overflow: hidden;
    padding: $padding-xl;
    border: 1px solid $clr-black-lighter;
    box-shadow: $shadow-xs;
    gap: $gap-md;
    button {
        margin-top: auto !important;
    }
}
.inputsContainer,
.inputGroup {
    display: flex;
    flex-direction: column;
    gap: $gap-sm;
}
.label {
    font-size: $font-lg;
    font-weight: $text-bold;
    color: $clr-purple-darker;
}
.input {
    padding: $padding-sm;
    border: 1px solid $clr-purple-light;
    border-radius: $rounded-sm;
    font-size: $font-md;
    color: $clr-purple-darker;
    &:focus {
        outline: none;
        border: 1px solid $clr-purple;
    }
    &::placeholder {
        color: $clr-black-lighter;
    }
}
.select {
    padding: $padding-sm;
    border-radius: $rounded-sm;
    background-color: $clr-purple-light;
    border: 1px solid $clr-purple-light;
    font-size: $font-md;
    &:focus {
        outline: none;
        border: 1px solid $clr-purple;
        box-shadow: $shadow-md;
    }
}
.textarea {
    resize: none;
    min-height: 150px;
}
@media (max-width: $screen-lg) {
    .formContainer {
        width: 100%;
    }
    .input,
    .label,
    .select {
        font-size: $font-sm;
    }
}
@media (max-width: $screen-md) {
    .formContainer {
        padding: $padding-md;
    }
    .input,
    .label,
    .select {
        font-size: $font-xs;
    }
}
